doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(href="stylesheets/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(script src="javascripts/bootstrap.min.js")
    script(type="text/javascript" src="javascripts/custom.js")
  body
    block content