doctype html
html
  head
    link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    style.
      img {
      width: 272px;
      height: 400px;
      }
      div {
      white-space: nowrap;
      overflow-x: auto;
      margin-bottom: 10px;
      }
      h3 {
      width: 400px;
      color: white;
      margin: 0px;
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: 'Roboto', sans-serif;
      background-color: #a9b5e3;
      }
      p {
      margin: 0px 0px 10px 0px;
      }
      #first {
      padding-top: 0px;
      }
  body
    #first.coats
      h3 Outfit suggested by rdinh
      p
        img(alt='rdinh-o1pic1', src='https://bnc.lt/stylepoints-rdinh-o1pic1')
        img(alt='rdinh-o1pic2', src='https://bnc.lt/stylepoints-rdinh-o1pic2')
        img(alt='rdinh-o1pic3', src='https://bnc.lt/stylepoints-rdinh-o1pic3')
        img(alt='rdinh-o1pic4', src='https://bnc.lt/stylepoints-rdinh-o1pic4')
    .coats
      h3 Outfit suggested by blo
      p
        img(alt='blo-o2pic1', src='https://bnc.lt/stylepoints-blo-o2pic1')
        img(alt='blo-o2pic2', src='https://bnc.lt/stylepoints-blo-o2pic2')
        img(alt='blo-o2pic3', src='https://bnc.lt/stylepoints-blo-o2pic3')
        img(alt='blo-o2pic4', src='https://bnc.lt/stylepoints-blo-o2pic4')
