doctype html
html
  head
    link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    style.
      img {
      width: 272px;
      height: 400px;
      }
      div {
      white-space: nowrap;
      overflow-x: auto;
      margin-bottom: 10px;
      }
      h3 {
      width: 400px;
      color: white;
      margin: 0px;
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: 'Roboto', sans-serif;
      background-color: #a9b5e3;
      }
      p {
      margin: 0px 0px 10px 0px;
      }
      #first {
      padding-top: 0px;
      }
      h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      margin: 0px;
      padding: 0px;
      padding-left: 15px;
      padding-bottom: 20px;
      }
      label > input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: fixed; /* Remove input from document flow */
      overflow-x: auto;
      }
      label > input + img{ /* IMAGE STYLES */
      cursor:pointer;
      padding:0px solid transparent;
      }
      label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
      border:0px solid #f00;
      opacity: 0.5;
      }
      button {
      font-size: 100%;
      padding: .5em 1em;
      color: white;
      border: 0px;
      background-color: #a9b5e3;
      text-decoration: none;
      font-color: white;
      }
      .sub {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      }
  body
    form
      h2(style='padding-left: 15px')
        | Jerry's Wardrobe
      #first.coats
        h3 Coats
        p
          label
            input(type='radio', name='coats', value='coat1')
            img(src='http://i.imgur.com/734cJ.jpg')
          label
            input(type='radio', name='coats', value='coat2')
            img(src='http://i.imgur.com/RK5QN.jpg')
          label
            input(type='radio', name='coats', value='coat3')
            img(src='http://i.imgur.com/mKcYH.jpg')
          label
            input(type='radio', name='coats', value='coat4')
            img(src='http://i.imgur.com/lMATNQA.jpg')
          label
            input(type='radio', name='coats', value='coat5')
            img(src='http://i.imgur.com/glSIC61.jpg')
      .tops
        h3 Tops
        p
          label
            input(type='radio', name='tops', value='top1')
            img(src='http://i.imgur.com/seVei.jpg')
          label
            input(type='radio', name='tops', value='top2')
            img(src='http://independence-chicago.com/media/catalog/product/cache/1/thumbnail/600x900/17f82f742ffe127f42dca9de82fb58b1/g/i/gitman-bros-vintage-l-s-oxford-shirt-navy-overdye-01.jpg')
          label
            input(type='radio', name='tops', value='top3')
            img(src='http://i.imgur.com/gMtvu.jpg')
          label
            input(type='radio', name='tops', value='top4')
            img(src='http://www.bellazon.com/main/uploads/monthly_08_2013/post-60166-0-07435500-1375814356.jpg')
      .bottoms
        h3 Bottoms
        p
          label
            input(type='radio', name='bottoms', value='bottom1')
            img(src='http://i.imgur.com/KQ2VEc5.jpg')
          label
            input(type='radio', name='bottoms', value='bottom2')
            img(src='http://www.misionmisericordia.com/blogmision/wp-content/uploads/2012/01/16C681-78-Velero-Man-Pants--.jpg')
          label
            input(type='radio', name='bottoms', value='bottom3')
            img(src='http://i01.i.aliimg.com/wsphoto/v0/454188753_2/Decorative-blue-button-classic-low-cut-jeans-straight-breasted-man-simple-style-pants-YJ185F68.jpg')
          label
            input(type='radio', name='bottoms', value='bottom4')
            img(src='http://www.therestylist.com/wp-content/uploads/2013/02/toil-chino-pant.jpg')
      .shoes
        h3 Shoes
        p
          label
            input(type='radio', name='shoes', value='shoes1')
            img(src='http://i.imgur.com/wb9dpie.jpg')
          label
            input(type='radio', name='shoes', value='shoes2')
            img(src='http://downtownmagazinenyc.com/wp-content/uploads/2012/04/mens-side.jpg')
          label
            input(type='radio', name='shoes', value='shoes3')
            img(src='https://s-media-cache-ak0.pinimg.com/236x/bd/7d/58/bd7d5879f428090f05efdf17cdfd0ea5.jpg')
          label
            input(type='radio', name='shoes', value='shoes4')
            img(src='https://cdna.lystit.com/photos/3070-2014/07/06/french-connection--laurie-linen-rolled-up-pants-product-1-21410641-2-323455514-normal_large_flex.jpeg')
      .sub
        button(type='submit', value='Submit') Submit Outfit
